
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

/VOID*

*.txt

*.cache/

!assets/*.png
!assets/*.gif

*.png

*.gif